.search-wrapper {
  min-height: 100vh;
  background-image: url("/beach.jpg"); // replace with your image
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.search-bar {
  width: 520px;
  height: 56px;
  /* 50% transparency */
  background: rgba(255, 255, 255, 0.5);

  /* glass effect */
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background: #ffffff;
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);

  input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    background: transparent;
    cursor: default;

    &:disabled {
      color: #333;
      -webkit-text-fill-color: #333; // Safari fix
    }
  }

  .icon {
    font-size: 18px;
    color: #444;
    user-select: none;

    &.left {
      margin-right: 12px;
    }

    &.right {
      margin-left: 12px;
    }
  }
}

@media (max-width: 480px) {
  .search-bar {
    width: 400px;
    height: 50px;
  }
}
